streamlit

langchain
langchain-core
langgraph
langgraph-checkpoint
langgraph-checkpoint-postgres
langchain-google-genai
langchain-openai
groq
fastapi
uvicorn

sqlalchemy
psycopg2-binary
alembic

python-dotenv

pydantic

langsmith

tiktoken

pandas
numpy

httpx
requests

pytest

docker

qdrant-client
sentence-transformers
langchain-community
langchain_huggingface
pypdf
pymupdf
unstructured
python-docx
markdown
rank-bm25
langchain_text_splitters
langchain_groq
tavily-python
langchain-mistralai